doctype html
html
  head
    title Deepa Dance Academy
    block scripts
    block style 
    
  body
    nav#navbar
        ul
            div#logo
                img(src="/static/img/d2.logo.png")
                | HDA
            li #[a(href="/") Home]
            li #[a(href="#missionSection") Mission]
            li #[a(href="#sponsorsSection") Sponsors]
            li #[a(href="/contact") Contact Us]
    block content
    block contact
    footer#footer
        | Copyright © 2021-2022 DeepaAcademy.com | All Rights Reserved